rsc/de/sgollmer/solvismax/data/base.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/control"
	xmlns:tns="http://www.example.org/control"
	elementFormDefault="qualified">



	<annotation>
		<documentation></documentation>
	</annotation>



















	<complexType name="BaseData">
		<annotation>
			<documentation>
				Root mit der Home-Screen-Definition
			</documentation>
		</annotation>
		<sequence>
			<element name="Units" type="tns:Units" maxOccurs="unbounded"
				minOccurs="0">
			</element>
		</sequence>
		<attribute name="timeZone" type="string" use="required"></attribute>
	</complexType>

	<element name="BaseData" type="tns:BaseData"></element>






































	<complexType name="Units">
		<sequence>
			<element name="Unit" type="tns:Unit"></element>
		</sequence>
	</complexType>

	<complexType name="Unit">
		<sequence></sequence>
		<attribute name="id" type="string" use="required"></attribute>
		<attribute name="url" type="string" use="optional"></attribute>
		<attribute name="account" type="string" use="optional"></attribute>
		<attribute name="password" type="string" use="optional"></attribute>
		<attribute name="defaultAverageCount" type="int"
			use="required">
		</attribute>
		<attribute name="defaultReadMeasurementsIntervall_ms"
			type="int" use="required">
		</attribute>
		<attribute name="forcedUpdateIntervall_ms" type="int"
			use="required"></attribute>
		<attribute name="bufferedIntervall_ms" type="int"
			use="required"></attribute>
	</complexType>
</schema>