SolvisSmartHomeServer Package/base.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
	targetNamespace="http://www.example.org/control"
	xmlns:tns="http://www.example.org/control"
	elementFormDefault="qualified">
	<complexType name="BaseData">
		<annotation>
			<documentation>
				Root mit der Home-Screen-Definition
			</documentation>
		</annotation>
		<sequence>
			<element name="ExecutionData" type="tns:ExecutionData"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation>
						Defintion der Daten, welche der Server zur
						Ausführung benötigt, wie Schreibfade, Ports etc.
					</documentation>
				</annotation>
			</element>
			<element name="Units" type="tns:Units" maxOccurs="unbounded"
				minOccurs="0">
				<annotation>
					<documentation>
						Daten der vom Server zu unterstützenden
						Solvis-Anlagen
					</documentation>
				</annotation>
			</element>
			<element name="ExceptionMail" type="tns:ExceptionMail" maxOccurs="1" minOccurs="0">
				<annotation>
					<documentation>Daten für den Mailversand im Fall einer Exception</documentation>
				</annotation></element>
		</sequence>
		<attribute name="DEBUG" type="boolean" use="optional">
			<annotation>
				<documentation>Debug-Mode. Nur zur Entwicklung</documentation>
			</annotation></attribute>
	</complexType>
	<element name="BaseData" type="tns:BaseData"></element>
	<complexType name="Units">
        <annotation>
        	<documentation>Basis-Daten einer Solvis-Anlage</documentation>
        </annotation>
        <sequence>
			<element name="Unit" type="tns:Unit">
				<annotation>
					<documentation>Betriebsdaten eienr Solvis-Anlage
</documentation>
				</annotation></element>
		</sequence>
	</complexType>
	<complexType name="Unit">

		<sequence>
			<element name="Features" type="tns:Features" maxOccurs="1"
				minOccurs="1">
                <annotation>
                	<documentation>Selektiv einzuschaltende Features</documentation>
                </annotation>
			</element>
		</sequence>
		<attribute name="id" type="string" use="required">
			<annotation>
				<documentation>
					Identifikation der Solvis-Anlage
				</documentation>
			</annotation>
		</attribute>
		<attribute name="type" use="required">
			<annotation>
				<documentation>
					Typ der Anlage (Max oder Ben)
				</documentation>
			</annotation>
			<simpleType>
                <annotation>
                	<documentation>SolvisMax/SolvisBen</documentation>
                </annotation>
                <restriction base="string">
					<enumeration value="SolvisMax"></enumeration>
					<enumeration value="SolvisBen"></enumeration>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="fwLth2_21_02A" type="boolean" use="optional">
			<annotation>
				<documentation>
					Zu setzen, wenn Remote-Firmware älter als
					1714SP4110-2_21_02A
				</documentation>
			</annotation>
		</attribute>
		<attribute name="modbus" type="boolean" use="optional">
			<annotation>
				<documentation>
					Bei SolviControl-Steuerungen der Version >= MA205
					ist der Zugriff auf den Modbus möglich, so dass die
					ganze GUI-Bedienung nicht erforderlich ist. Wird
					modbus auf true gesetzt, erfolgt das Setzen und
					Auslesen der Anlageparameter nicht mehr über das GUI
					sondern über Modbus.
				</documentation>
			</annotation>
		</attribute>
		<attribute name="url" type="string" use="optional">
			<annotation>
				<documentation>
					Url-Pfad der Solvis-Anlage
				</documentation>
			</annotation>
		</attribute>
		<attribute name="account" type="string" use="required">
			<annotation>
				<documentation>Account der Solvis-Anlage</documentation>
			</annotation>
		</attribute>
		<attribute name="password" type="string" use="optional">
			<annotation>
				<documentation>Password der Solvis-Anlage, aus Kompatibilitätsgründen, depercated
				</documentation>
			</annotation>
		</attribute>
		<attribute name="passwordCrypt" type="string" use="optional">
			<annotation>
				<documentation>Password verschlüsselt</documentation>
			</annotation></attribute>
		<attribute name="defaultAverageCount" type="int"
			use="required">
			<annotation>
				<documentation>
					Anzahl der Werte über den analoge Messwerte
					gemittelt werden (Kesseölthemperaturen, Außen, Innen
					etc.)
				</documentation>
			</annotation>
		</attribute>
		<attribute name="measurementHysteresisFactor" type="int"
			use="required">
			<annotation>
				<documentation>
					Hysteriess-Faktor für Messungen, über die ein
					Mittelwert gebildet wird. Bei 0 führt jede Änderung
					zu einer Messwertausgabe, bei != null wird abhängig
					vom Sensorrauschen der Hysteresisfaktor eingestellt.
					Der Hysteresiswert berechnet sich dann nach:
					Sensorrauschen * Hysteresisfaktor / Anzahl der
					Messwerte, über die der Mittelwert gebildet wird.
					Das Rauschen wird über die Differenzen zwischen zwei
					Messwerten ermittelt. Wenn Messungen jede 10s
					erfolgen, hat sich der zu messende Wert nur sehr
					wenig geändert, so dass der Unterschied ein Maß für
					das Rauschen darstellt.
				</documentation>
			</annotation>
		</attribute>
		<attribute name="defaultReadMeasurementsInterval_ms" type="int"
			use="required">
			<annotation>
				<documentation>
					Messintervall nach dem die Kanäle immer wieder
					abgefragt werden
				</documentation>
			</annotation>
		</attribute>
		<attribute name="forcedUpdateInterval_ms" type="int"
			use="required">
			<annotation>
				<documentation>
					Update intervall, nach dessen Ablauf sämtliche
					Messdaten zum Client übertragen werden. 0: nie
				</documentation>
			</annotation>
		</attribute>
		<attribute name="doubleUpdateInterval_ms" type="int" use="optional">
			<annotation>
				<documentation>Anstand in ms der beiden Updates um den Stundenwechsel</documentation>
			</annotation></attribute>
		<attribute name="bufferedInterval_ms" type="int"
			use="required">
			<annotation>
				<documentation>
					Zyklus, nach dem die Messdaten (nur veränderte) zum
					Client gesendet werden. Nur wenn über eine längere
					Zeit vorher keinen Änderung erfolgte und ein
					stärkerer Anstieg/Abfall erkannt wird, wird der
					Messwert früher geschickt. Dadurch folgen trotz
					seltener Stützpunkte recht gut den wirklichen
					Werten.
				</documentation>
			</annotation>
		</attribute>
		<attribute name="watchDogTime_ms" type="int" use="required">
			<annotation>
				<documentation>
					Periode, in der immer der Bildschirm auf Änderungen
					geprüft wird. Bildschirmschoner, Fehlerbildschirme,
					Anwender- und Server Zugriffe werden dabei erkannt.
				</documentation>
			</annotation>
		</attribute>
		<attribute name="delayAfterSwitchingOnEnable" type="boolean"
			use="required">
			<annotation>
				<documentation>
					Einige Sensoren benötigen nach einem Power-On der
					Anlage relatic viel Zeit, bis sie die richtigen
					Werte anzeigen. Um Diagramme nicht zu verfälschen,
					liefern bei delayAfterSwitchingOnEnable = true die
					Sensoren verzögert die Daten (bestimmbar durch
					control.xml) an den Client.
				</documentation>
			</annotation>
		</attribute>
	</complexType>
	<complexType name="ExecutionData">
        <annotation>
        	<documentation>Anlagen-unspezifische Basis-Daten</documentation>
        </annotation>
        <attribute name="timeZone" type="string" use="required">
        	<annotation>
        		<documentation>Zeitzone, wird aktuell nicht genutzt</documentation>
        	</annotation></attribute>
		<attribute name="port" type="int" use="required">
			<annotation>
				<documentation>Port, den der Server nutzt, um Command von Client zu empfangen</documentation>
			</annotation></attribute>
		<attribute name="writeablePathWindows" type="string"
			use="optional">
            <annotation>
            	<documentation>Beschreibbarer Pfad für Windows, in dem die Daten des Servers abgelegt werden.</documentation>
            </annotation>
		</attribute>
		<attribute name="writablePathLinux" type="string"
			use="optional">
            <annotation>
            	<documentation>Beschreibbarer Pfad für Linux, in dem die Daten des Servers abgelegt werden.</documentation>
            </annotation>
		</attribute>
	</complexType>


	<complexType name="Features">
		<annotation>
			<documentation>
				Abgleich der Uhr 1/2-Minuten genau Abgleich der Uhr
				2s-genau Synchronisation der Softwarezähler für
				Brennerlaufzeit und Brennerstarts Erneutes Auslesen des
				aktuellen Standes der Anlage nach einem Userzugriff
				Steuerung über FHEM
			</documentation>
		</annotation>
		<sequence>
			<element name="ClockTuning" type="boolean" maxOccurs="1"
				minOccurs="1">
				<annotation>
					<documentation>
						Die Solvis-Uhr wird +-31s genau eingestellt
					</documentation>
				</annotation>
			</element>
			<element name="HeatingBurnerTimeSynchronisation"
				type="boolean" maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation>
						Die Synchronisation der SolvisControl-Zählern
						(Brennerlaufzeit/-Starts aktivieren.
					</documentation>
				</annotation>
			</element>
			<element name="UpdateAfterUserAccess" type="boolean"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation>
						Nach jedem erkannnten Anwenderzugriff auf dei
						SolvisControl werden die Anlagen-Werte wieder
						gelesen. Dies ist erforderlich, weil der
						Anwender diese Werte manuell geändert haben
						könnte.
					</documentation>
				</annotation>
			</element>
			<element name="DetectServiceAccess" type="boolean"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation>
						Es wird der Zugriff eines Service-Mitarbeiter
						(Schornsteinfeger/Installateur) erkannt und die
						Sperrung des GUI-Zugriffs durch den Server
						erhöht sich auf 60 Minuten.
					</documentation>
				</annotation>
			</element>
			<element name="PowerOffIsServiceAccess" type="boolean"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation>
						Ein Power-Off der Anlage wird als Aktion eines
						Service-Mitarbeiters gewertet.
					</documentation>
				</annotation>
			</element>
			<element name="ClearErrorMessageAfterMail" type="boolean" maxOccurs="1" minOccurs="1"></element>
			<element name="OnlyMeasurements" type="boolean"
				maxOccurs="1" minOccurs="1">
				<annotation>
					<documentation>
						Dieses Attribut deaktiviert sämtliche Zugriffe
						zum GUI der Solvis.
					</documentation>
				</annotation>
			</element>
		</sequence>

	</complexType>



	<complexType name="ExceptionMail">
		<sequence>
			<element name="Recipients" type="tns:Recipients"></element>
		</sequence>
		<attribute name="name" type="string" use="required">
			<annotation>
				<documentation>Absendername</documentation>
			</annotation></attribute>
		<attribute name="from" type="string" use="required">
			<annotation>
				<documentation>Adresse für den Provider zum Senden</documentation>
			</annotation></attribute>
		<attribute name="password" type="string" use="required">
			<annotation>
				<documentation>Password verschlüsselt</documentation>
			</annotation></attribute>
		<attribute name="securityType" use="required">
            <annotation>
            	<documentation>Aktuell TLS/SSL</documentation>
            </annotation>
            <simpleType>
				<restriction base="string">
					<enumeration value="TLS"></enumeration>
					<enumeration value="SSL"></enumeration>
				</restriction>
			</simpleType>
		</attribute>
		<attribute name="provider" type="string" use="required">
			<annotation>
				<documentation>Provider-Adresse</documentation>
			</annotation></attribute>
		<attribute name="port" type="int" use="required">
			<annotation>
				<documentation>Provider-Port</documentation>
			</annotation></attribute>
	</complexType>

	<complexType name="Recipient">
		<attribute name="address" type="string" use="required"></attribute>
		<attribute name="type" use="required">
			<simpleType>
				<restriction base="string">
					<enumeration value="CC"></enumeration>
					<enumeration value="TO"></enumeration>
					<enumeration value="BCC"></enumeration>
				</restriction>
			</simpleType>
		</attribute>
	</complexType>

	<complexType name="Recipients">
		<sequence>
			<element name="Recipient" type="tns:Recipient" maxOccurs="unbounded" minOccurs="1"></element>
		</sequence>
	</complexType>
</schema>